/*********************************************************/
/*   Styles for modals  - interactive forms              */
/*********************************************************/
.OEmodal {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
.OEregister-button {
  height: 20px;
  width: 80px;
  line-height: 1px;
  font-size: small;
  border-radius: 8px;
  background: #004EFF;
  padding: 1px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 0px;
}
.OEregister-button:hover{
  background: #2F598C;
}
.OEregister-form {
  z-index: 3;  /*  OEmenu is 1,  modal is 2 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  width: 480px;
  position: absolute;
  background: #2F598C;
  border: 2px solid #BFBFBF;
  display: block;
}
.OEregister-form-labels {
  width: 100px;
  text-align: right;
  font-size: 14px;
  color: white;
}
.OEregister-form-inputs {
  width: 120px;
  font-size: 14px;
}
.OEregister-form-errors {
  font-size: 14px;
  width: 200px;
  color: orange;
}
.OEchange-form {
  z-index: 3;  /*  OEmenu is 1,  modal is 2 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  width: 480px;
  position: absolute;
  background: #2F598C;
  border: 2px solid #BFBFBF;
  display: block;
}
.OEchange-form-labels {
  width: 100px;
  text-align: right;
  font-size: 14px;
  color: white;
}
.OEchange-form-inputs {
  width: 120px;
  font-size: 14px;
}
.OEchange-form-errors {
  font-size: 14px;
  width: 200px;
  color: orange;
}
.OElogin-form {
  z-index: 3;  /*  OEmenu is 1,  modal is 2 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 140px;
  width: 420px;
  position: absolute;
  background: #2F598C;
  border: 2px solid #BFBFBF;
  display: block;
}
.OElogin-form-labels {
  width: 120px;
  font-size: 14px;
  text-align: right;
  color: white;
}
.OElogin-form-inputs {
  width: 120px;
  font-size: 14px;
}
.OElogin-form-errors {
  width: 160px;
  font-size: 14px;
  color: orange;
}
.OEmessage-form {
  z-index: 3;  /*  OEmenu is 1,  modal is 2 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 280px;
  position: absolute;
  background: #2F598C;
  border: 2px solid #BFBFBF;
  display: block;
}
.OEmessage-content {
  height: 120px; /* needs to be a share within the OEmessage form above */
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 14px;
}