/*********************************************************/
/*   Styles for modals  - interactive forms              */
/*********************************************************/
.OEmodal {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
.OEregister-form {
  z-index: 3;  /*  OEmenu is 1,  modal is 2 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 154px;
  width: 420px;
  position: absolute;
  background: #2F598C;
  border: 2px solid #BFBFBF;
  display: block;
}
.OEregister-form-labels {
  width: 120px;
  text-align: right;
  color: white;
}
.OEregister-form-inputs {
  width: 120px;
}
.OEregister-form-errors {
  width: 160px;
  color: orange;
}
